<html>
  <head><title>Delete Donor</title>
<link rel="stylesheet" href="donorsList.css"></head>
  <body>
    <div>
      <p>Are you sure you want to delete this donor?</p>
      <form action="/deleteDonateBlood.htm" method="POST" id="deletedonor">
        <input type="hidden" name="donorId" value="<%= donor._id %>" />
        <button type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
